<!DOCTYPE html>
<html>
<head>
  <title>Welcome to HyperDev!</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1 id='projectTitle'></h1>
  </header>
  <center>
    <div id='submitNewIssue'>
    </div>
    <br>
    <div>
      <h3>Submit a new issue:</h3>
    </div>
    <!--Change id to "testIsusue" from "newIssue" because think script code below was not letting it work -->
    <form id="createIssue" method="post" action="/api/issues/issueTracker/">
      <input type="text" name="create_issue_title" placeholder="*Title" style="width: 320px; margin-bottom: 3px;" required=''><br>
      <textarea type="text" name="issue_text" placeholder="*Text" style="width: 320px; height: 100px;" required=''></textarea><br>
      <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=''>
      <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px">
      <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
      <button type="submit">Submit Issue</button>
    </form>
    <br>
    <h3>Update issue on <i>apitest</i> (Change any or all to update issue on the _id supplied)</h3>
    <form id="updateIssue" method="post" action="/api/issues/issueTracker/">
      <input type="text" name="update_id" placeholder="*_id" style="width: 320px" required=''><br>
      <input type="text" name="issue_title" placeholder="(opt)Title" style="width: 320px"><br>
      <textarea type="text" name="issue_text" placeholder="(opt)Text" style="width: 320px; height: 100px"></textarea><br>
      <input type="text" name="created_by" placeholder="(opt)Created by" style="width: 100px">
      <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px">
      <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
      <label><input type="checkbox" name="open" value=false> Check to close issue</label><br>
      <button type="submit">Update Issue</button>
    </form><br>
    <h3>Delete issue on <i>apitest</i></h3>
    <form id="deleteIssue" method="post" action="/api/issues/issueTracker/">
      <input type="text" name="delete_id" placeholder="_id" style="width: 320px" required=''><br>
      <button type="submit">Delete Issue</button>
    </form>
    <br />
    <h3>Search issues on <i>apitest</i> must check to show fields</h3>
    <form id="searchIssue" method="post" action="/api/issues/issueTracker/">
      <label>Id</label>
      <input type="text" name="search_id" placeholder="(opt)_id" style="width: 320px">
      <input type="checkbox" name="idCheck" checked><br>
      <label>Title</label>
      <input type="text" name="issue_title" placeholder="(opt)Title" style="width: 320px">
      <input type="checkbox" name="titleCheck" checked><br>
      <label>Description</label>
      <input type="text" name="issue_text" placeholder="(opt)Issue Description" style="width: 320px;">
      <input type="checkbox" name="textCheck" checked><br>
      <label>Created</label>
      <input type="text" name="created_by" placeholder="(opt)Created by" style="width: 320px">
      <input type="checkbox" name="createdCheck" checked><br>
      <label>Assigned</label>
      <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 320px">
      <input type="checkbox" name="assignedCheck" checked><br>
      <label>Status code</label>
      <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 320px">
      <input type="checkbox" name="statusCheck" checked><br>
      <label>Open Issue</label>
      <!--<input type="text" name="open_issue" placeholder="(opt)open issue" style="width: 320px"> -->
      <select name="open_issue" placeholder="(opt)open issue" style="width: 324px">
        <option value="" selected></option>
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
      <input type="checkbox" name="openCheck" checked><br>
      <button type="submit">Search Issue(s)</button>
    </form>
    <div id='issueDisplay'></div>

    <hr style='margin: 50px; margin-top: 200px'>
  </center>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script>
      $(function() {
        var currentProject = window.location.pathname.replace(/\//g, "");
        var url = "/api/issues/" + currentProject;

        $('#projectTitle').text('All issues for: '+currentProject)
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            var issues = [];
            
            data.forEach(function(ele) {
              console.log(ele);
              var openstatus;
              (ele.open) ? openstatus = 'open' : openstatus = 'closed';
              var single = [
                '<div class="issue '+openstatus+'">',
                '<p class="id">id: '+ele._id+'</p>',
                '<h3>'+ele.issue_title+' -  ('+openstatus+')</h3>',
                '<br>',
                '<p>'+ele.issue_text+'</p>',
                '<p>'+ele.status_text+'</p>',
                '<br>',
                '<p class="id"><b>Created by:</b> '+ele.created_by+'  <b>Assigned to:</b> '+ele.assigned_to,
                '<p class="id"><b>Created on:</b> '+ele.created_on+'  <b>Last updated:</b> '+ele.updated_on,
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close?</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete?</a>',
                '</div>'

              ];
              issues.push(single.join(''));
            });
            $('#issueDisplay').html(issues.join(''));
          }
        });
        
        $('#newIssue').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/issues/" + currentProject);
          $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            success: function(data) { window.location.reload(true); }
          });
        });
        
        $('#issueDisplay').on('click','.closeIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          $.ajax({
            type: "PUT",
            url: url,
            data: {_id: $(this).attr('id'), open: false},
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
        /*
        $('#issueDisplay').on('click','.deleteIssue', function(e) {
          var url = "/api/issues/"+currentProject;
          $.ajax({
            type: "DELETE",
            url: url,
            data: {_id: $(this).attr('id')},
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
      });
      */
  </script>
</body>
</html>